@page
@model WebApp_azure_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core in Visual Studio 2022</a>.</h2>

    <h3>
        @ViewData["Greeting"]
    </h3>
</div>